# ------------------------------------------------
# If USE_POSTGRES=True, use the PostgreSQL as the checkpointer.
# Need to fill the POSTGRESQL_DB config
# Else use InMomory checkpointer
USE_POSTGRES=True
# PostgreSQL Config
POSTGRESQL_DB_USER=
POSTGRESQL_DB_PASSWORD=
POSTGRESQL_DB_HOST=
POSTGRESQL_DB_PORT=
POSTGRESQL_DB_NAME=

# LLM Config
# Base URL for the main LLM API (e.g., Qwen via Aliyun EAS)
MAIN_LLM_BASE_URL=
MAIN_LLM_API_KEY=
MAIN_LLM_MODEL_NAME=

# SearXNG Search API
SEARXNG_PORT=

# ------------------------------------------------
# Weaviate Vector Database Config
WEAVIATE_HTTP_HOST=
WEAVIATE_HTTP_PORT=
WEAVIATE_GRPC_HOST=
WEAVIATE_GRPC_PORT=

# ------------------------------------------------
TELEGRAM_BOT_TOKEN=
TELEGRAM_PROXY_URL=
